.how-it-works {
  img {
    max-height: 200px;
    margin: 0 auto;
    display: block;
    padding: 20px;
  }
  .friends {
    background: #d3d6d9;
  }
  .create-competition {
    background: #c8c5b8;
  }
  .predict-fixtures {
    background: #ebf4ed;
  }
  .glory {
    background: #e5e4d2;
  }
}
